.region-primary-menu ul.menu > li:nth-child(3) {
  flex-grow: 2;
}

p {
  margin-bottom: 1rem;
}

.field--type-entity-reference .field__label {
  font-weight: bold;
}
 
.field--type-entity-reference {
  margin: 0 0 0;
}

article.node--type-music-group.node--view-mode-full div.field.clearfix:after,
article.node--type-music-item.node--view-mode-full div.field.clearfix:after {
  display: block;
  clear: left;
} 


article.node--type-music-group.node--view-mode-full div.view-digitalia-eva-interpret-chronological,
article.node--type-music-item.node--view-mode-full div.view-digitalia-eva-album-tracklist {
  clear: both;
}


article.node--type-music-group.node--view-mode-full div.view-digitalia-eva-interpret-image,
article.node--type-music-item.node--view-mode-full div.view-digitalia-eva-album-cover {
  float: right;
}


div.view-digitalia-search-songs > div.view-content > table > tbody > tr > td:last-child {
  display: flex;
  flex-wrap: wrap;
}

div.view-digitalia-search-songs > div.view-content > table > tbody > tr > td:last-child > div.data-field-music_item {
  white-space: nowrap;
}




div.view-digitalia-search-songs > div.view-content > table > tbody > tr > td > div::before,
div.view-digitalia-search-songs > div.view-content > table > tbody > tr > td > div::after {
  content: " ";
  display: inline-block;
}

div.view-digitalia-place > div.view-content > ul > li.views_tree_parent.views_tree_collapsed {
  margin-left: -1rem;
}

/* inlining Acquisition */
#edit-field-acquisition-0 {
  display: flex;
  flex-wrap: wrap;
}

#edit-field-acquisition-0 > div.form-item--field-acquisition-0-status,
#edit-field-acquisition-0 > div.form-item--field-acquisition-0-place,
#edit-field-acquisition-0 > div.form-item--field-acquisition-0-subject,
#edit-field-acquisition-0 > div.form-item--field-acquisition-0-verification
#edit-field-acquisition-0 > div.form-item--field-acquisition-0-note {
  flex-basis: 100%;
}

#edit-field-acquisition-0 > div.form-item--field-acquisition-0-date-day {
  width: 3rem;
  margin-right: 2rem;
}

#edit-field-acquisition-0 > div.form-item--field-acquisition-0-date-month {
  width: 3rem;
  margin-right: 2rem;
}

#edit-field-acquisition-0 > div.form-item--field-acquisition-0-date-year {
  width: 5rem;
  margin-right: 2rem;
}

